<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Sobre Nosotros</h5>
                <p>Programador frontend con con buenos conocimientos sobre angular.</p>
                <p><strong>Teléfono: </strong>+51 916 001 906</p>
                <p><strong>Correo: </strong> jaaa.0698@gmail.com</p>
            </div>
            <div class="col-md-3">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Inicio</a></li>
                    <li><a href="/movies" class="text-white">Películas</a></li>
                    <li><a href="/series" class="text-white">Series</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Redes Sociales</h5>
                <a href="#" class="text-white mr-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white mr-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; {{ currentYear }} JoseAbad. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>